<h1>ToDoアプリ</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag '','', task.done, {'data-id' => task.id} %>
      <%= task.tittle %>
      <%= link_to '[編集]',edit_task_path(task.id)%>
      <%= link_to '[削除]',
        task_path(task.id), 
        method: :delete, 
        data:{ confirm: '削除してもよろしいですか？'} %>
    </li>
  <% end %>
</ul>

<%= link_to '新規追加', new_task_path %>

<script>
  $(function(){
    $("input[type=checkbox]").click(function(){
      $.post('/tasks/' + $(this).data('id') + '/toggle');
    }); 
  });
</script>

 <div class="slick">
    <div class="b"><img class="c" src="assets/6-la.jpg"></div>
    <div class="b"><img class="c" src="assets/la.jpg"></div>
    <div class="b"><img class="c" src="assets/V.jpg"></div>
    <div class="b"><img class="c" src="assets/1.jpg"></div>
    <div class="b"><img class="c" src="assets/2.jpg"></div>
    <div class="b"><img class="c" src="assets/3.jpg"></div>
</div>
